# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.pdb
*.ilk
*.tlog
*.obj
*.log
*.lastbuildstate
*.opensdf
Lesson*/Debug/*
Debug/stdout.txt